/* Paleta de colores de la UCA, generada por materialpalette */

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body {
	font-family: 'Lato', sans-serif;
}

.flex {
	display: inline-flex;
}

.hide {
	display: none !important; 
}

.overlap {
	width: 100%;
    height: 32%;
    position: absolute;
}

/* Header */

#header {
	background-color: #455A64;
}

#header h1 {
	margin-top: 50px;
	font-weight: 300;
	font-size: 50px;
}

#header h1 span {
	font-weight: 300;
	font-size: 40px;
}

#header a {
	color: #FFFFFF;
	letter-spacing: 1.2px;
}

#header a:hover, #sub-header a:hover {
	opacity: 0.7;
	text-decoration: none;
}

#header .header-icons {
	margin-top: 80px;
	float: right;
}

/* Subheader */

#sub-header {
	background-color: #607D8B;
	padding-top: 0;
}

#sub-header a {
	color: #FFFFFF;
	letter-spacing: 1.1px;
}

#sub-header h2 {
	font-weight: 300;
	font-size: 35px;
	padding-top: 8px;
}

#sub-header h2 span {
	font-weight: 300;
	font-size: 25px;
}

#sub-header ul {
	flex-wrap: nowrap;
}

#sub-header ul li a {
	text-transform: uppercase;
	font-weight: 500;
	padding-top: 21px;
}

#sub-header ul li a.active, #sub-header ul li a:hover {
	border-top: 5px solid white;
	padding-top: 16px;
}

/* Login */

#login {
	padding: 20px 0;
}

#login h2 {
	text-align: center;
}

#login form {
	/*border: 1px solid #ccc;*/
}

#login form input {
	padding: 0 5px;
	background-color: #e8f0fe;
	border: 1px solid #607D8B;
	color: black;
}

.btn {
	border-radius: 0px;
	padding: 5px 20px;
}

.btn-primary {
	background-color: #455A64;
	color: white !important;
}

.btn-primary:hover {
	background: #607D8B;
	border: 1px solid white;
}

.btn-cancel, .btn-xtra-info {
	background-color: #EEEEEE;
	color: black;
}

/* Footer */

footer {
	background-color: #607D8B;
	padding: 20px 0;
}

footer span {
	display: block
}

footer a {
	color: white;
	font-weight: 300;
	padding: 5px;
}

footer a:hover {
	text-decoration: none;
	opacity: 0.7;
	color: white;
}

/* Carousel */

#carousel {
	max-height: 500px;
	width: 100%;
}

#carousel img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

/* Genérico */

#crearvotacion h3, #resultados h3, #roles h3, #accesovotaciones h3, #preguntasrestringidas h3, #preguntasnorestringidas h3, #opciones h3 {
	text-transform: uppercase;
}

#crearvotacion, #resultados, #roles, #accesovotaciones, #preguntasrestringidas, #preguntasnorestringidas, #opciones {
	padding: 40px 0;
}

/* Encuesta */

#crearvotacion .votacion, #accesovotaciones .pregunta {
	padding: 10px 40px;
	border: 3px solid #455A64;
	text-align: center;
	margin-top: 20px;
}

#crearvotacion .votacion h4, #accesovotaciones .pregunta h4 {
	color: #212121;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
}

#crearvotacion .votacion i, #accesovotaciones .pregunta i {
	opacity: 0.7;
	font-size: 96px;
	color: #212121;
	margin-bottom: 20px;
}

#crearvotacion .votacion p, #accesovotaciones .pregunta p {
	color: #161616;
}

#crearvotacion h5 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
}

#crearvotacion .step-1 {
	display: flex;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear; /* Firefox 4 */
    -webkit-transition: all 0.3s linear; /* Safari and Chrome */
    -o-transition: all 0.3s linear; /* Opera */
    -ms-transition: all 0.3s linear; /* Explorer 10 */
}

#crearvotacion .votacion, #steps-pregunta .votacion {
	cursor: pointer !important;
}

#crearvotacion .helper {
	margin-top: 20px;
	min-height: 300px;
}

#crearvotacion .form-group label {
	text-transform: uppercase;
	font-weight: 600;
}

#crearvotacion .form-group input, #crearvotacion .form-group select, #crearvotacion .form-group textarea, #opciones select, .show>.btn-light.dropdown-toggle, .btn-light, .btn-light:hover {
	padding: 0 5px;
	background-color: #e8f0fe;
	border: 1px solid #607D8B;
	color: black;
	border-radius: 0px;
}

.btn-light {
	padding: 5px !important;
}

#crearvotacion .form-group input[type=checkbox] {
	margin-left: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

#crearvotacion .form-group .btn-secondary {
	margin-top: 10px;
	background: #CFD8DC;
	color: black;
}

#crearvotacion .form-group p {
	font-size: 14px;
}

#crearvotacion #fecha-anticipada-pregunta, #crearvotacion #participantes-anticipada-pregunta {
	display: none;
}

#grupos-div-pregunta, #grupos-div-eleccion, #candidatos-div-eleccion {
    background-color: #e8f0fe;
    border: 1px solid #607D8B;
    border-radius: 0px;
    min-height: 100px;
}

.input-div-caja {
	background-color: white !important;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

/* Acceso votaciones */

#accesovotaciones .pregunta h4 {
	font-size: 14px;
}

/* Resultados */

#resultados form a.btn, #roles form button, #opciones form .btn {
	margin-top: 20px;
}

/* Roles */

#roles table, #accesovotaciones table {
	margin: 20px 0;
}

#roles table th, #accesovotaciones table th {
	background: #607D8B;
	color: white;
	text-transform: uppercase;
}

#roles table td, #accesovotaciones table td {
	background: #CFD8DC;
	border-top: 1px solid #455A64;
}

#accesovotaciones table a {
	color: #607D8B !important;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.0px;
	font-weight: bold;
}

#roles #acciones-rol {
	margin-top: 20px;
}

/* Home */

#home .col-novedades {
	margin: 20px auto;
	padding: 20px auto;
	text-align: center;
}

#home .col-novedades h3 {
	width: fit-content;
	text-align: center;
	color: #455A64;
	font-size: 44px;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
	margin: 20px auto;
}

#home .col-novedades h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}

#home .col-novedades img {
	margin: 20px;
	min-height: 115px;
}

/* Media query movil */

@media (max-width: 600px) {

	#header {
		position: sticky !important;
		top: 0;
		z-index: 100;
	}

	#header h1 {
		margin-top: 10px;
		font-size: 30px;
	}

	#header h1 span {
		font-size: 20px;
	}

	#header .header-icons {
		margin-top: 10px;
		float: none;
	}

	#sub-header {
		position: sticky !important;
		top: 0;
		z-index: 1000;
	}

	#sub-header h2 {
		margin-top: 5px;
	}

	#sub-header ul li a.active, #sub-header ul li a:hover {
		border: 0px;
		font-weight: 600;
    	font-size: 20px;
    	opacity: 1;
	}

	.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
		background-color: white;
	}

	.hide-mobile {
		display: none;
	}

	.margin-0-mobile {
		margin: 0px !important;
	}

	#hamburger-menu {
		margin-top: 5px;
	}

	#hamburger-menu:focus {
		outline: none;
	}

	#burger-div {
		padding-bottom: 20px;
	}

	#burger-div .list-group-item {
		background: none;
		border: 0px;
		border-bottom: 1px solid #eee;
	}

	#burger-div .list-group-item a {
		padding: 20px 0;
		opacity: 0.7;
	}

	#home .col-novedades img {
		margin: 20px 0;
	}

	#resultados h4 {
		margin-top: 40px;
	}
}

@media (min-width: 601px) {
	.hide-desktop {
		display: none;
	}
}